@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.addTask {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addTask textarea {
    resize: none;
    width: 300px;
    height: 100px;
    padding: 1rem;
    outline: 0;
}

.addTask button {
    max-width: 40%;
    align-self: end;
    padding: 0.7rem 0.9rem;
    color: #fff;
    background-color: #0b3431;
}

.addTask button:hover {
    cursor: pointer;
    background-color: #08201e;
}

.addTask textarea, button {
    font-size: 16.5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.7rem;
}

.task {
    width: 240px;
    height: 170px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-top: solid 5px aqua;
}